.task1{display:flex;justify-content: space-around}
.task2{display:flex;justify-content: space-around}
.task3{display:flex;justify-content: space-around;}
.task4{display:flex;justify-content: space-around;}
.task5{display:flex;justify-content: space-around;}
.container{width:200px;background:black;}
.but1{border-radius:50%;background:gray;padding:25px 30px;}
.but2{border-radius:50%;background:#313131;padding:25px 30px;}
.but3{border-radius:50%;background:#313131;padding:25px 30px;}
.but4{border-radius:50%;background:#313131;padding:25px 30px;}
.but5{border-radius:50%;background:#313131;padding:25px 30px;}
.but11{border-radius:50%;background:orangered;padding:25px 30px;}
.but22{border-radius:50%;background:orangered;padding:25px 30px;}
.but33{border-radius:50%;background:orangered;padding:25px 30px;}
.but44{border-radius:50%;background:orangered;padding:25px 30px;}
.but55{border-radius:50%;background:orangered;padding:25px 30px;}
button:hover{border:1px solid; background:white}
.container{border-radius:10px;padding:40px 50px;}
body{display:flex;justify-content:center;}
.inp10{display:flex;justify-content: center;border-radius:10px;padding:10px 20px;}