.month {
    width: 365px;
    border: 1px solid rgb(156,
            16,
            156);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.day {
    width: 30px;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(84, 2, 84);
    text-align: center;
    transition: .5s;
}

.day:hover {
    background: rgb(84, 2, 84);
    color: #fff
}

.year {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    color: rgb(84, 2, 84);
    text-align: center;
}

h2 {
    width: 100%;
}